body{
	padding:0;
	margin:0;
	position:relative;
	width:100%;
	height:100%;
	/*overflow:hidden;*/

}

#sky_color_day{
	position:absolute;
	vertical-align:middle;
	z-index:0;
	top:0;
	opacity:0;

}/*fixe*/
#sky_color_night{
	position:absolute;
	vertical-align:middle;
	z-index:0;
	top:0;

}/*fixe*/


/*		ETOILES		*/
/*tourne + opacity ++ -- ++ -- (rythme différent !!)*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.stars{
	position:absolute;
	vertical-align:middle;
	z-index:1;
	-webkit-animation:spin 400s linear infinite;
    -moz-animation:spin 400s linear infinite;
    animation:spin 400s linear infinite;
}

/** todo : clignottement RYTHMES DIFFERENTS*/
@-moz-keyframes lighting { 0% { opacity:0; }; 30% { opacity:1; }; 70% { opacity:1; }; 100% { opacity:1; } }
@-webkit-keyframes lighting { 0% { opacity:0; }; 30% { opacity:1; }; 70% { opacity:1; }; 100% { opacity:1; } }
@keyframes lighting { 0% { opacity:0; }; 30% { opacity:1; }; 70% { opacity:1; }; 100% { opacity:1; } }

#stars1{
	position:absolute;
}

#stars2{
	-webkit-animation:lighting 400s linear infinite;
    -moz-animation:lighting 400s linear infinite;
    animation:lighting 400s linear infinite;
}



#moon{
	position:absolute;
	vertical-align:middle;
	z-index:2;
	top:0;
}/*immobile + opacity ++ -- ++ -- */


#clouds{
	position:absolute;
	vertical-align:middle;
	z-index:3;
	top:0;
}/*lattéral*/


#sun{
	position:absolute;
	vertical-align:middle;
	z-index:4;
	top:0;
}/*lattéral (! rythme différent nuages)*/
