body{
	padding:0;
	margin:0;
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;

}

#sky_color_day{
	position:absolute;
	vertical-align:middle;
	z-index:0;
	top:0;

}/*fixe*/

@-moz-keyframes night_falling { 
	0% { opacity:0; }
	40% { opacity:0; }
	55% { opacity:1; }
	90% { opacity:1; }
	100% { opacity:0; } 
}
@-webkit-keyframes night_falling {
	0% { opacity:0; }
	40% { opacity:0; }
	55% { opacity:1; }
	90% { opacity:1; }
	100% { opacity:0; } 
}
@keyframes night_falling { 
	0% { opacity:0; }
	40% { opacity:0; }
	55% { opacity:1; }
	90% { opacity:1; }
	100% { opacity:0; } 
}
#sky_color_night{
	position:absolute;
	vertical-align:middle;
	z-index:1;
	top:0;
	-webkit-animation:night_falling 60s linear infinite;
    -moz-animation:night_falling 60s linear infinite;
    animation:night_falling 60s linear infinite;

}/*fixe*/


/*		ETOILES		*/
/*tourne + opacity ++ -- ++ -- (rythme différent !!)*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.stars{
	position:absolute;
	vertical-align:middle;
	z-index:2;
	-webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}


@-moz-keyframes appearing { 
	0% { opacity:0; }
	45% { opacity:0; }
	70% { opacity:1; }
	85% { opacity:1; }
	95% { opacity:0; }
	100% { opacity:0; } 
}
@-webkit-keyframes appearing {
	0% { opacity:0; }
	45% { opacity:0; }
	70% { opacity:1; }
	85% { opacity:1; }
	95% { opacity:0; }
	100% { opacity:0; } 
}
@keyframes appearing { 
	0% { opacity:0; }
	45% { opacity:0; }
	70% { opacity:1; }
	85% { opacity:1; }
	95% { opacity:0; }
	100% { opacity:0; } 
}

#stars1{
	position:absolute;
	-webkit-animation:appearing 60s linear infinite;
    -moz-animation:appearing 60s linear infinite;
    animation:appearing 60s linear infinite;
}

@-moz-keyframes appearing2 { 
	0% { opacity:0; }
	50% { opacity:0; }
	60% { opacity:1; }
	90% { opacity:0.5; }
	100% { opacity:0; } 
}
@-webkit-keyframes appearing2 {
	0% { opacity:0; }
	50% { opacity:0; }
	60% { opacity:1; }
	90% { opacity:0.5; }
	100% { opacity:0; } 
}
@keyframes appearing2 { 
	0% { opacity:0; }
	50% { opacity:0; }
	60% { opacity:1; }
	90% { opacity:0.5; }
	100% { opacity:0; } 
}

#stars2{
	-webkit-animation:appearing2 60s linear infinite;
    -moz-animation:appearing2 60s linear infinite;
    animation:appearing2 60s linear infinite;
}



#moon{
	position:absolute;
	vertical-align:middle;
	z-index:3;
	top:0;
}/*immobile + opacity ++ -- ++ -- */


/*CLOUDS*/

@-moz-keyframes clouds_appearing { 
	0% { opacity:1; }
	30% { opacity:1; }
	45% { opacity:0; }
	95% { opacity:0; }
	100% { opacity:1; } 
}
@-webkit-keyframes clouds_appearing {
	0% { opacity:1; }
	30% { opacity:1; }
	45% { opacity:0; }
	95% { opacity:0; }
	100% { opacity:1; } 
}
@keyframes clouds_appearing { 
	0% { opacity:1; }
	30% { opacity:1; }
	45% { opacity:0; }
	95% { opacity:0; }
	100% { opacity:1; } 
}

#clouds{
	display:none;
}


@-moz-keyframes translate_clouds { 
	0% { background-position-x:0; }
	100% { background-position-x:100vw; } 
}
@-webkit-keyframes translate_clouds {
	0% { background-position-x:0; }
	100% { background-position-x:100vw; } 
}
@keyframes translate_clouds { 
	0% { background-position-x:0; }
	100% { background-position-x:100vw; } 
}

#clouds_image_container{
	position:absolute;
	vertical-align:middle;
	z-index:0;
	top:0;
	height:100%;
	width:100%;
	background-repeat: repeat-x;
	-webkit-animation:translate_clouds 60s linear infinite;
    -moz-animation:translate_clouds 60s linear infinite;
    animation:translate_clouds 60s linear infinite;
}
/*
#clouds_image{
	-webkit-animation:clouds_appearing 60s linear infinite;
    -moz-animation:clouds_appearing 60s linear infinite;
    animation:clouds_appearing 60s linear infinite;
}/*lattéral*/


#sun{
	position:absolute;
	vertical-align:middle;
	z-index:5;
	top:0;
}/*lattéral (! rythme différent nuages)*/
